/* Footer.css */
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  color: white;
  flex: 2;
}

footer p {
  margin: 0;
  padding: 10px;
}
